.listWrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.listHeader{
    width: 100%;
    margin-bottom: 20px;

    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.listTitle {
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}

.sortButtons{
    position: absolute;
    right: 20px;

    cursor: pointer;
}

.listItem {
    width: 380px;
    height: 170px;

    padding: 10px;
    margin: 10px;
    
    background: lightgray;
}

.listItem:hover{
    background: white;
    cursor: pointer;
}

.listItemlink {
    display: flex;
    align-items: center;

    text-decoration: none; /* 밑줄 제거 */
    color: inherit; /* 부모 요소의 글자색 상속 */
  }

.listItem img {
    width: 100px;
    margin-right: 10px;
}

.listItemText {
    width: calc(100% - 110px);
    height: 100%;

    display: flex;
    flex-direction: column;
}

.listItemText div {
    margin-bottom: 5px;
}

.listItemTitle {
    font-size: 18px;
    font-weight: bold;
}

.listItemTitle,.listItemGenres {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.listItemOverview{
    width: 100%;
    height: 63px;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fullStar {
    color: gold;
  }
  
  .emptyStar {
    color: lightgray;
  }